.contentWrap {
  display: flex;
  flex-direction: column;
  padding-top: 25px;

  .itemWrap {
    border: 1px solid #f0f0f0;
    margin-bottom: 30px;
    background-color: #fff;
    border-radius: 2px;
    box-sizing: border-box;
    padding: 0 0 10px 0;

    .header {
      border-bottom: 1px solid #f0f0f0;
      border-radius: 2px 2px 0 0;
      padding: 8px 24px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .title {
        font-size: 16px;
      }

      .editBtn {
        font-size: 14px;
        color: #1890ff;
        cursor: pointer;
        outline: none;
        background-color: #ffffff;
      }
    }

    .itemContent {
      padding: 24px;
    }
  }
}
